node_modules/
.env
*.db
config_env.json
cache_jid.json
store_msg.json

# Session WhatsApp
DataBase/session/
DataBase/hani.json

# Fichiers système
.DS_Store
Thumbs.db
*.log
*.tmp

# Dossiers de déobfuscation
deobf/
